/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 1.1.2017, 23:04:16
    Author     : Josef Korbel & Lukas Kryda
*/
html {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  overflow: hidden;
}

body {
  background-color: transparent !important;
}

.navbar {
  margin-bottom: 50px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.flexjumbo {
  width: 75%;
  height: 200px;
}
